{% extends "admin/change_list.html" %}
{% load static %}

<h1> {{ title }}</h1>

{% block extrahead %}
{{ block.supper }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>



<script>
document.addEventListener('DOMContentLoaded', () => {
  var context = document
        .getElementById('chart')
        .getContext('2d');

  let board_cat = [];
  let view_count = [];
  {% for board in board_cat %}
      board_cat.push("{{ board.boardcat }}")
      view_count.push({{ board.view_count }})
  {% endfor %}

  var myChart = new Chart(context, {
                type: 'line',
                data: {
                    labels: board_cat,
                    datasets: [
                        {
                            label: '카테고리별 게시글 현황',
                            fill: false,
                            data: view_count,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
<!--                                'rgba(54, 162, 235, 1)',-->
<!--                                'rgba(255, 206, 86, 1)',-->
<!--                                'rgba(75, 192, 192, 1)',-->
<!--                                'rgba(153, 102, 255, 1)',-->
<!--                                'rgba(255, 159, 64, 1)'-->
                            ],
                            borderWidth: 3
                        },
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
          });
</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div style="width: 90%;">
  <canvas style="margin-bottom: 30px; width: 80%; height: 70%;" id="chart"></canvas>
</div>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}